/* Courgette */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("./images/hero-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img{
    display: block;
    height: auto;
}

.container{
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Header */
.site-header{
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-radius: 8px;
    border-bottom: 1px solid rgba(210, 210, 210, 0.82);

}

.logo-wrap{
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.logo-img{
    width: 40px;
    height: 40px;
}

.logo{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    text-decoration: none;
    color: green;
}

.week-info{
    display: none;
    margin: 0;
    font-size: 24px;
    color: #b4b4b4;
}

.select-form{
    width: 100%;
    max-width: 250px;
}

.region-select{
    width: 100%;
    padding: 8px 12px;
    font-size: 18px;
    background-color: transparent;
    border-radius: 4px;
    color: #b4b4b4;
    backdrop-filter: blur(15px);
    appearance: none;
    background-image: url("./images/dropdown-icon.png");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 95%;
}

/* Time section */

.time-section{
    padding: 50px 0;
}

.region-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 20px 10px;
    background-color: #dedede;
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.region-item{
    color: #000;
}

.region-wrap{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 8px;
    backdrop-filter: blur(20px);
    border: 1px solid #DEDEDEA3;
    border-radius: 5px;
}

.region-name{
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 500;
}

.time-now{
    display: block;
    margin-bottom: 10px;
    color: #10ed10;
    font-size: 35px;
}

.day-info{
    color: #fff;
}

.prayer-time-list{
    padding-left: 0;
    list-style: none;
}

.prayer-time-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 8px;
    backdrop-filter: blur(15px);
    border: 1px solid #DEDEDEA3;
    border-radius: 8px;
}

.prayer-img-wrapper{
    display: flex;
    align-items: center;
}

.prayer-time-img{
    width: 50px;
    margin-right: 6px;
}

.prayer-time-name{
    color: #dedede;
    font-size: 15px;
}

.prayer-time-text{
    font-size: 22px;
    color: #10ed10;
}

.prayer-region{
    color: #dedede;
    font-size: 15px;
}

.calendar-select-wrap{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px 15px;
    backdrop-filter: blur(20px);
    border: 1px solid #DEDEDEA3;
    border-radius: 5px;
}

.calendar{
    display: flex;
    padding: 0 50px;
    border-radius: 5px;
    border: 1px solid #DEDEDEA3;
    cursor: pointer;
}

.calendar-region-name{
    margin-right: 4px;
    color: #fff;
    pointer-events: none;
    text-transform: capitalize;
}

.calendar-select-info{
    color: #fff;
    pointer-events: none;
}

.time-table{
    width: 100%;
    margin-bottom: 30px;
    color: #fff;
    border-collapse: collapse;
    backdrop-filter: blur(15px);
    text-align: center;
}

.time-table, td, th {
    border: 1px solid #DEDEDEA3;
    padding: 8px 0;
}

.time-table th{
    color: #DEDEDEA3;
}

@media only screen and (min-width: 640px) {

    .logo-img{
        width: 65px;
        height: 65px;
    }

    .logo{
        font-size: 30px;
    }

    .prayer-time-item{
        padding: 10px 20px;
    }

    .prayer-time-img{
        width: 70px;
    }

    .prayer-time-name{
        font-size: 20px;
    }

    .prayer-time-text{
        font-size: 28px;
    }

    .prayer-region{
        font-size: 22px;
    }
}

@media only screen and (min-width: 760px){
    .week-info{
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .region-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 850px;
        padding: 15px 20px;
    }

    .region-name{
        margin-bottom: 0;
        font-size: 28px;
    }

    .time-now{
        margin-bottom: 0;
    }

    .day-info{
        font-size: 22px;
    }

    .prayer-time-list{
        display: flex;
        font-size: 40px;
    }

    .prayer-time-item{
        width: 100%;
        flex-direction: column;
        max-width: 200px;
        margin-right: 10px;
        margin-bottom: 0;
    }

    .prayer-time-item:last-child{
        margin-right: 0;
    }

    .prayer-img-wrapper{
        flex-direction: column;
    }

    .prayer-time-img{
        width: 80px;
        margin-bottom: 8px;
    }

    .prayer-time-name{
        font-weight: 400;
        margin-bottom: 10px;
    }

    .prayer-time-text{
        margin-bottom: 10px;
        font-size: 28px;
    }

    .prayer-region{
        margin-top: 0;
    }
}

@media only screen and (min-width: 1100px){
    .prayer-time-item{
        margin-right: 15px;
    }

    .prayer-time-img{
        width: 120px;
    }

    .prayer-time-name{
        font-size: 24px;
    }

    .prayer-time-text{
        font-size: 34px;
    }

    .prayer-region{
        font-size: 24px;
    }
}